<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<span class="word">address</span>
<span class="word">address bus</span>
<span class="word">addressing</span>
<span class="word">administrator</span>
<span class="word">alignment</span>
<span class="word">allocate</span>
<span class="word">architecture</span>
<span class="word">archive</span>
<span class="word">artificial  intelligence</span>
<span class="word">assemble language</span>
<span class="word">built-in</span>
<span class="word">bus</span>
<span class="word">bus topology</span>
<span class="word">byte</span>
<span class="word">bytecode</span>
<span class="word">cable television</span>
<span class="word">calculation</span>
<span class="word">carrier sense</span>
<span class="word">central processing unit</span>
<span class="word">check box</span>
<span class="word">computer vision</span>
<span class="word">computer-aided design</span>
<span class="word">conditional statement</span>
<span class="word">configure</span>
<span class="word">constraint</span>
<span class="word">controller</span>
<span class="word">cursor</span>
<span class="word">customization</span>
<span class="word">customize</span>
<span class="word">data bus</span>
<span class="word">debug</span>
<span class="word">decimal</span>
<span class="word">decode</span>
<span class="word">default</span>
<span class="word">deployment</span>
<span class="word">dial-up</span>
<span class="word">digit</span>
<span class="word">directory path</span>
<span class="word">disk array</span>
<span class="word">domain</span>
<span class="word">encryption key</span>
<span class="word">Enter key</span>
<span class="word">entity</span>
<span class="word">entity relationship diagram</span>
<span class="word">Ethernet</span>
<span class="word">executable</span>
<span class="word">expression</span>
<span class="word">field</span>
<span class="word">file server</span>
<span class="word">header</span>
<span class="word">home page</span>
<span class="word">host</span>
<span class="word">host address</span>
<span class="word">hotspot</span>
<span class="word">hyperlink</span>
<span class="word">Hyperlink Markup Language</span>
<span class="word">Hyperlink transfer protocol </span>
<span class="word">interface</span>
<span class="word">interfacing</span>
<span class="word">Internet service provider</span>
<span class="word">interpreter</span>
<span class="word">interprocess communication</span>
<span class="word">intranet</span>
<span class="word">kernel</span>
<span class="word">keyword</span>
<span class="word">main memory</span>
<span class="word">main page </span>
<span class="word">mainframe</span>
<span class="word">memory</span>
<span class="word">memory location </span>
<span class="word">microchip</span>
<span class="word">microcomputer</span>
<span class="word">microcontroller</span>
<span class="word">microprocessor</span>
<span class="word">mobile phone</span>
<span class="word">numerical analysis</span>
<span class="word">object-oriented language</span>
<span class="word">one-dimensional array</span>
<span class="word">overload</span>
<span class="word">overview</span>
<span class="word">package</span>
<span class="word">paper-tape reader</span>
<span class="word">paradigm</span>
<span class="word">pay-as-you-go</span>
<span class="word">radio button</span>
<span class="word">random-access memory</span>
<span class="word">read-only memory</span>
<span class="word">register</span>
<span class="word">relational database management system</span>
<span class="word">repeater</span>
<span class="word">retrieve</span>
<span class="word">ring topology</span>
<span class="word">source program</span>
<span class="word">structure chart</span>
<span class="word">subdirectory</span>
<span class="word">suffix </span>
<span class="word">switch</span>
<span class="word">tablet computer</span>
<span class="word">telecom</span>
<span class="word">telemedicine</span>
<span class="word">textbox</span>
<span class="word">thread</span>
<span class="word">unit testing</span>
<span class="word">update</span>
<span class="word">upload</span>
<span class="word">use case</span>
<span class="word">vacuum tube</span>
<span class="word">validate</span>
<span class="word">validation</span>
<span class="word">view</span>
<span class="word">viral</span>
<span class="word">virtual</span>
<span class="word">3G</span>
<span class="word">AI</span>
<span class="word">API</span>
<span class="word">B2B</span>
<span class="word">B2C</span>
<span class="word">bcc</span>
<span class="word">CD</span>
<span class="word">CPU</span>
<span class="word">CSMA-CD</span>
<span class="word">DBA</span>
<span class="word">P2P</span>
<span class="word">RAM</span>
<span class="word">ROM</span>
<span class="word">SQL</span>
<span class="word">TCP/IP</span>
<span class="word">URL</span>
<span class="word">VM</span>
<span class="word">WAN</span>
<span class="word">XML</span>
  </body>
</html>
