<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx4e857afc248cad8e&redirect_uri=http://127.0.0.1:3000/main&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect ">dianci</a>
  </body>
  <script type="text/javascript">

  </script>
</html>
